<h1>Contact</h1>

<h2 id="white">E-mail</h2>

<p>DIYstore@hotmail.com</p>

<h2 id="white">Phone</h2>

<p>+353 1 497 9793</p>

<h2 id="white">Store Address</h2>

<p>You can call into our store between the hours of 9-6 to speak with any of our staff.</p>

<ul style="list-style: none;">
    

    
	<li>DIYstore</li><br>
	<li>Lincoln Street</li><br>
	<li>Dublin 10</li><br>
	<li>Ireland</li>
	
</ul>	



