<h1>Hints & Tips</h1>

<h2 id="white">How to paint Interior walls</h2>

<p>
<ol>
<p>1. Put down dust sheets on the floor or any surfaces where paint could splash</p>
<p>2. Use decorators tape to mask off the edges of light fittings, sockets and skirting boards</p>
<p>3. Fill in any cracks or holes in the wall with suitable filler</p>
<p>4. Use a roller to paint the main surfaces of the wall</p>
<p>5. Leave paint to dry and apply second coat if necessary</p>
</ol>
</p>


<img src="http://wallpegstore.com/content/uploads/2014/03/interior-painting.jpg" alt="painting">


