<!DOCTYPE html>
<html>
<head>
<title>DIY Store | Home</title>
</head>
<body>
<h1>DIY Store</h1>
<p>DIY Store was founded in 2006 and is a family owned independent store.<br>
<h2 id="white">Our Goal?</h2>
<p>To provide quality products at reasonable prices and to offer a top class service to our Customers.<br>
We go that extra mile to ensure we stock the products you need and we make sure that you leave<br> 
the store confident about your product choice! <br><p>
<h2 id="white">Our Website?</h2> <p>The website has an option to register on the site. Once registration is complete, you can purchase<br>
items from the comfort of your own home!<p>





</body>
</html>

